$width: 400px;
$odd-item-color: rgb(38, 194, 129);
$even-item-color: rgb(52, 73, 94);
.container {
    display: flex;
    margin: 50px;
}


/*Utils (common)*/

.item-title {
    padding-left: 10px;
}


/*Portlet (overall)*/

.artist-portlet {
    width: $width;
}


/*Artist (heading)*/

.panel-heading {
    color: white;
    background-color: $even-item-color;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 26.4px;
}

.panel-heading>img {
    width: 100px;
}


/*Album (item)*/

.list-group-item {
    font-weight: bold;
    border: none;
    color: white;
}

.list-group .list-group-item .list-group-item-heading {
    color: white;
}

.list-group-item:hover {
    cursor: pointer;
    text-decoration: none;
}

.list-group-item:nth-child(1n),
.list-group-item:nth-child(1n):hover {
    background-color: $odd-item-color;
}

.list-group-item:nth-child(3n),
.list-group-item:nth-child(3n):hover {
    background-color: $even-item-color;
}


/*Track (subitem)*/

.tracks-container {
    border-left-color: $odd-item-color;
    border-left-width: 3px;
    border-left-style: solid;
}

.tracks-container .list-group-item,
.tracks-container .list-group-item:hover {
    background-color: white;
    color: black;
}

.tracks-container .list-group {
    margin: 0;
}